*{
    margin: 0;
    padding: 0;
}
.row {
 --bs-gutter-x: 0rem;
 --bs-gutter-y: 0rem;
}
.container,.container-fluid,
.container-lg,.container-md,
.container-sm,.container-xl,
.container-xxl{
    width: 100%;
    padding-right: var(--bs-gutter-x,.0rem);
    padding-left: var(--bs-gutter-x,.0rem); 
    margin-right: auto;
    margin-left: auto;
}
html{
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
}
p, div{
    margin: 0;
    padding: 0;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 250px) and (max-width: 600px) {
    
      /* navigation */
      .navbar-nav, nav-link{
          font-size: 17px;
          margin: 10px auto;
          background-color: aliceblue;
      }  
      .caricon{        
        display: block;
        background-image: url('img/caricons_88.png');
        background-repeat: no-repeat;
        height: 35px;
        width: 80px;
        background-size: contain;
      }    

      /* Container-2 */
      .container2largetext{
        font-size: 30px;
        font-weight: 700;        
        text-align: center;
        height: 120px;
        width: 100%;        
        padding: 10px;
        margin:  0px auto;
      }
      .bokingnowbtn{
        display: block;
        font-size: 15px;
        height: 40px;
        width: 130px;
      }
      .container2largetext{
        font-size: 40px;
        font-weight: 700;
        height: fit-content;
        width:fit-content;
        text-align: center;
      }
      .btnrowsizeing{
        width: 100%;
      }
      .bokingnowbtn{
        display: block;
        font-size: 18px;
        height: 40px;
        width: 140px;
        margin: 0 auto;
      }
      .borderleft{
        border-left: 1px solid white;
      }
      .navtabsetting{
        border: 2px solid gray;
        margin: 30px auto;
        height: 150px;
        width: 99.7%;
      }
      .pickuptext{
        font-size: 14px;
      }
      .searchingbtn{
          font-size: 17px;
          height: 40px;
          width: 100px;      
          margin: 0 auto;
      }
      
      /*  container-4 */
      .Container4rowback{
        background-image: url('img/englandcitymap.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: auto;
        width: 100%;
      }
      .container4rectangletext{
        display: none;
      }
      .card{
        height: auto;
        width: 100%;
        margin: 0 auto;
        text-align: center;
      }
      .card-title{
        font-size: 25px;
      }
      .card-text{
        font-weight: 500;
      }

    /* container-5 */
    .container5textheightwidth{
      padding: 10px;
    }
    .container5findoutlargtext{
      font-size: 22px;
      font-weight: 700;
      width: auto;
      height: 60px;
    }
    .container5findousmalltext{
      height: auto;
      width: auto;
      line-height: 1.2;
      font-size: 17px;
      font-weight: 500;
      margin: 10px auto;
    }
    .aboutusimg{
      display: none;
    }

    /* container-6 Icons */
    .clockicon{
      background-image: url('img/Combined-Shape.png');
      background-repeat: no-repeat;
      background-size: contain;
      height: 30px;
      width: 80px;
      margin: 5px auto;      
    }
    .smallcaricon{
      background-image: url('img/car-1299198_960_720\ 1.png');
      background-repeat: no-repeat;
      background-size: contain;
      height: 40px;
      width: 80px;
    }    
    .businessicon{
      background-image: url('img/Vector_icon.png');
      background-repeat: no-repeat;
      background-size: contain;
      height: 40px;
      width: 40px;
      margin: auto 25px;      
    }
    .icontext{
      color: white;
      height: 45px;
      width: auto;
      font-size: 12px;
      padding: 8px;
    }
    .mercedescar1{
     display: none;
    }

    /* container-7 Mercedesbenz_Sclasssmall_text and large_text */
    .mercedesbenzSclasssmalltext{
      font-size: 24px;
      font-weight: 600;
      height: 40px;
      margin: 10px auto;
    }
    .sclasslargetext{
      font-size: 35px;      
      font-weight: 700;
      height: 50px;      
      margin: px auto;
    }

    /* container-8 ourfleetimg, Car360dgree_img*/
    .container8ourfleetimg{
      display: none;
      
    }
    .car360dgree{
      background-image: url('img/360degree.png');
      background-repeat: no-repeat;
      background-size: contain;
      height: 175px;
      width: 60%;  
      margin: 0px auto;
    }

    /* container-9 */
    .ourfollwers150, .ourHappyClients{
      padding: 20px;
    }
    .horizontalhr{
      border-left: 1px solid #FFFCFC;
      height: 60px;       
      margin: auto 0px;      
    }
    .bigbtn{
      box-sizing: border-box;
      background-color: black;
      color: white;
      height: 90px;
      width: 290px;
      border-radius: 10px;
      margin: 20px auto;
    }
    .a150k, .a10k{
        font-size: 20px;
        font-weight: 600;    
      }
    .ourfollwers{
      font-size: 15px;           
      height: 25px;
      width: 92px;
    }
    .happycliets{
      font-size: 15px;
      height: 25px;
      width: 122px;
      text-align: center;      
    }
    .container9smalltext{
      height: auto;
      width: 90%;
      font-size: 16px;
      font-weight: 600;
      margin: 0px auto;
    }
    .container9_ourdignity_img{
      display: none;    
    }

     /* container-10 */
     .container10_rowback{   
      display: none;
    }
    .container10yournexttraveltext{
      display: none;      
    }
    .container10yourreliabletext{
      display: none;
    }
    .carimg{
      display: none;
    }
    .calculatebtn{
      display: none;
    }

    /* container-11 */
  .container11rowbackground{
    background-image: url('img/englandcitymap.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
  }
  .container11_ourteam{
    background-image: url('img/ourteam.png');
    background-repeat: no-repeat;
    background-size: contain;      
    height: 200px;
    width: 60%;    
    margin: 0px auto;
  }
  .jameswalker_img{
    background-image: url('img/Ellipse\ 3.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    width: 100px;
  }
  .samueladasom_img{
    background-image: url('img/Ellipse\ 4.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    width: 100px;    
    margin: 10px auto;
  }
  .jackaldrige_img{
    background-image: url('img/Ellipse\ 5.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    width: 100px;    
    margin: 10px auto;
  }
  .thomas_img{
    background-image: url('img/Ellipse\ 6.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    width: 100px;    
    margin: 10px auto;
  }
  .nametext, .positiontext{
    text-align: center;      
    width: 110px;
    font-size: 14px;
  }

  /* container-12 */
  .smallcar_img{
    background-image: url('img/Mercedes-S-Class-PNG\ 1.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;
    width: 120px;
  }
  .borderbottomwhite{
    border: 3px dashed #FFFFFF;     
    width: 100%;
    height: 1px;
    position: absolute;      
  }

      /* container-12 */
      .smallcar_img{
        background-image: url('img/Mercedes-S-Class-PNG\ 1.png');
        background-repeat: no-repeat;
        background-size: contain;
        height: 100px;
        width: 220px;
      }
      .borderbottomwhite{
        border: 3px dashed #FFFFFF;     
        width: 100%;
        height: 1px;
        position: absolute;      
      }
      .fotter_our_service_text{
        color: white;
        height: 30px;      
        margin: auto 15px;
        font-size: 17px;
        font-weight: 700;
      }
      .container12fotter_ourservice_list1{
        color: white;
      }
      .fotter_ourservice_text_title,
      .fotter_contacts_text_title,
      .fotter_locatioin_text_title{
        color: white;
        height: 30px;      
        margin: auto 15px;
        font-size: 20px;
        font-weight: 700;
      }
      .footer_Contacts_text{
        color: white;
      }
      .footer_ourservice_text, 
      .fotter_Contacts_text{
        color: white;
        font-size: 16px;
      }
      .fotter_ourservice_setting,
      .fotter_contect_setting,
      .fotter_location_setting{
        height: 180px;
        width: 280px; 
        padding: 20px;
      }


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px){
    
      /* navigation */
      .navbar-nav, nav-link{
        font-size: 17px;
      }

      /* container-2 */
      .caricon{        
        display: block;
        background-image: url('img/caricons_88.png');
        background-repeat: no-repeat;
        height: 35px;
        width: 80px;
        background-size: contain;
      }
      .container2carlargeimg{
        display: none;              
      }
      .container2carlargeimg{
        display: none;              
      }
      .container2largetext{
        font-size: 45px;
        font-weight: 700;
        height: 170px;
        width:450px;
        text-align: center;
        margin: 0 auto;
      }
      .btnrowsizeing{
        width: 100%;
      }
      .bokingnowbtn{
        display: block;
        font-size: 18px;
        height: 40px;
        width: 140px;
        margin: 0 auto;
      }
     
      /* container-3 */
      .container3_cardsizing{
        margin: 0 auto;
        height: 150px;
        width: 100%;
      }
      .borderleft{
        border-left: 2px solid white;
      }
      .navtabsetting{
        margin: 0 auto;
        height: 100px;
        width: 99%;       
        font-size: 14px;
      }
      .searchingbtn{
        font-size: 14px;
        height: 35px;
        width: 80px;      
        margin: 10px auto;
      }

      /*  container-4 */
      .Container4rowback{
        background-image: url('img/englandcitymap.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: auto;
        width: 100%;
      }
      .container4rectangletext{
        display: none;
      }
      .card{
        height: auto;
        width: 100%;
        margin: 0 auto;
        text-align: center;
      }
      .card-title{
        font-size: 25px;
      }
      .card-text{
        font-weight: 500;
      }

      /* container-5 */
    .container5textheightwidth{
      padding: 20px;
    }
    .container5findoutlargtext{
      font-size: 25px;
      font-weight: 700;
      width: 100%;
    }
    .container5findousmalltext{
      height: 230px;
      width: 100%;
      line-height: 1.2;
      font-size: 17px;
      font-weight: 500;
    }
    .aboutusimg{
      display: none;
    }

    /* container-6 Icons */
    .clockicon{
      background-image: url('img/Combined-Shape.png');
      background-repeat: no-repeat;
      background-size: contain;
      height: 50px;
      width: 100px;      
    }
    .smallcaricon{
      background-image: url('img/car-1299198_960_720\ 1.png');
      background-repeat: no-repeat;
      background-size: contain;
      height: 50px;
      width: 100px;
    }    
    .businessicon{
      background-image: url('img/Vector_icon.png');
      background-repeat: no-repeat;
      background-size: contain;
      height: 50px;
      width: 100px;
    }
    .icontext{
      color: white;
      height: 50px;
      width: 120px;
      font-size: 14px;
      margin: 10px auto;
    }
    .mercedescar1{
     display: none;
    }

    /* container-7 Mercedesbenz_Sclasssmall_text and large_text */
    .mercedesbenzSclasssmalltext{
      font-size: 25px;
      font-weight: 600;
      height: 40px;
    }
    .sclasslargetext{
      font-size: 35px;      
      font-weight: 700;
      height: 50px;
    }

    /* container-8 ourfleetimg, Car360dgree_img*/
    .container8ourfleetimg{
      display: none;
    }
    .car360dgree{
      background-image: url('img/360degree.png');
      background-repeat: no-repeat;
      background-size: contain;
      height: 300px;
      width: 100%;
      margin: 0px auto;      
    }

    /* container-9 */
    .ourfollwers150, .ourHappyClients{
      padding: 20px;
    }
    .horizontalhr{
      border-left: 1px solid #FFFCFC;
      height: 60px;       
      margin: auto 0px;      
    }
    .bigbtn{
      box-sizing: border-box;
      background-color: black;
      color: white;
      height: 90px;
      width: 290px;
      border-radius: 10px;
    }
    .a150k, .a10k{
        font-size: 20px;
        font-weight: 600;    
      }
    .ourfollwers{
      font-size: 15px;           
      height: 25px;
      width: 92px;
    }
    .happycliets{
      font-size: 15px;
      height: 25px;
      width: 122px;
      text-align: center;      
    }
    .container9smalltext{
      height: 230px;
      width: 85%;
      font-size: 16px;
      font-weight: 600;
    }
    .container9_ourdignity_img{
      display: none;    
    }

      /* container-10 */
      .container10_rowback{
        background-image: url('img/Vector\ 6.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 400px;
        width: 100%;
        margin: 0 auto;
        display: block;
      }
      .container10yournexttraveltext{
        font-size: 20px;
        font-weight: 700;
        color: white;
        height: 40px;
        width: 100%;  
        display: block;
      }
      .container10yourreliabletext{        
        font-size: 15px;
        font-weight: 600;
        color: white;
        height: 50px;
        width: 100%;
        display: block;
      }
      .carimg{
        background-image: url('img/mercedes-cropped\ 1.png');
        height: 280px;
        width: 100%;       
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
      }
      .calculatebtn{
        height: 40px;
        width: 140px;
        font-size: 18px;              
        display: block;
        margin-bottom: 10px;
      }

  /* container-11 */
  .container11rowbackground{
    background-image: url('img/englandcitymap.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
  }
  .container11_ourteam{
    background-image: url('img/ourteam.png');
    background-repeat: no-repeat;
    background-size: contain;      
    height: 160px;
    width: 40%;     
  }
  .jameswalker_img{
    background-image: url('img/Ellipse\ 3.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    width: 100px;
  }
  .samueladasom_img{
    background-image: url('img/Ellipse\ 4.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    width: 100px;
  }
  .jackaldrige_img{
    background-image: url('img/Ellipse\ 5.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    width: 100px;
  }
  .thomas_img{
    background-image: url('img/Ellipse\ 6.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    width: 100px;
  }
  .nametext, .positiontext{
    text-align: center;      
    width: 100px;
    font-size: 14px;
  }
  
  /* container-12 */
  .smallcar_img{
    background-image: url('img/Mercedes-S-Class-PNG\ 1.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 70px;
    width: 120px;
  }
  .borderbottomwhite{
    border: 3px dashed #FFFFFF;     
    width: 100%;
    height: 1px;
    position: absolute;      
  }

      /* container-12 */
      .smallcar_img{
        background-image: url('img/Mercedes-S-Class-PNG\ 1.png');
        background-repeat: no-repeat;
        background-size: contain;
        height: 100px;
        width: 220px;
      }
      .borderbottomwhite{
        border: 3px dashed #FFFFFF;     
        width: 100%;
        height: 1px;
        position: absolute;      
      }
      .fotter_our_service_text{
        color: white;
        height: 30px;      
        margin: auto 15px;
        font-size: 17px;
        font-weight: 700;
      }
      .container12fotter_ourservice_list1{
        color: white;
      }
      .fotter_ourservice_text_title,
      .fotter_contacts_text_title,
      .fotter_locatioin_text_title{
        color: white;
        height: 30px;      
        margin: auto 15px;
        font-size: 20px;
        font-weight: 700;
      }
      .footer_Contacts_text{
        color: white;
      }
      .footer_ourservice_text, 
      .fotter_Contacts_text{
        color: white;
        font-size: 16px;
      }
      .fotter_ourservice_setting,
      .fotter_contect_setting,
      .fotter_location_setting{
        height: 175px;
        width: 280px;         
        padding: 20px;
      }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

      /* navigation */
      .navbar-nav, nav-link{
        font-size: 20px;
      }

      /* container-2 */
      .caricon{        
        display: block;
        background-image: url('img/caricons_88.png');
        background-repeat: no-repeat;
        height: 50px;
        width: 100px;
        background-size: contain;
      }
      .container2carlargeimg{
        display: none;              
      }
      .container2largetext{
        font-size: 65px;
        font-weight: 700;
        height: 220px;
        width: 100%;
        text-align: center;
      }
      .btnrowsizeing{
        width: 100%;
      }
      .bokingnowbtn{
        display: block;
        font-size: 20px;
        height: 50px;
        width: 145px;
        margin: 0 auto;
      }

      /* container-3 */
      .container3_cardsizing{
        margin: 0 auto;
        height: 150px;
        width: 100%;
      }
      .borderleft{
        border-left: 2px solid white;
      }
      .navtabsetting{
        margin: 0 auto;
        height: 100px;
        width: 95%;
        font-size: 17px;
      }
      .searchingbtn{
          font-size: 17px;
          height: 40px;
          width: 100px;      
          margin: 0 auto;
      }
     
      /*  container-4 */
      .Container4rowback{
        background-image: url('img/englandcitymap.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 600px;
        width: 100%;
      }
      .container4rectangletext{
        display: none;
      }
      .card{
        height: 520px;
        width: 30%;
        margin: 0 auto;
      }

    /* container-5 */
    .container5textheightwidth{
      padding: 20px;
    }
    .container5findoutlargtext{
      font-size: 35px;
      font-weight: 700;
      width: 100%;
    }
    .container5findousmalltext{
      height: 210px;
      width: 100%;
      line-height: 1.2;
      font-size: 17px;
      font-weight: 500;
    }
    .aboutusimg{
      display: none;
    }

    /* Icons */
    .clockicon{
      background-image: url('img/Combined-Shape.png');
      background-repeat: no-repeat;
      background-size: contain;
      height: 50px;
      width: 100px;      
    }
    .smallcaricon{
      background-image: url('img/car-1299198_960_720\ 1.png');
      background-repeat: no-repeat;
      background-size: cover;
      height: 50px;
      width: 120px;
    }    
    .businessicon{
      background-image: url('img/Vector_icon.png');
      background-repeat: no-repeat;
      background-size: contain;
      height: 50px;
      width: 120px;
    }
    .icontext{
      color: white;
      height: 50px;
      width: 120px;
    }
    .mercedescar1{
     display: none;
    }
    
    /* container-7 Mercedesbenz_Sclasssmall_text and large_text */
    .mercedesbenzSclasssmalltext{
      font-size: 25px;
      font-weight: 600;
      height: 40px;
    }
    .sclasslargetext{
      font-size: 35px;      
      font-weight: 700;
      height: 50px;
    }
   
    /* container-8 ourfleetimg, Car360dgree_img*/
    .container8ourfleetimg{
      background-image: url('img/ourfleet.png');
      background-repeat: no-repeat;
      background-size: contain;
      height: 158px;
      width: 100%;
      display: block;
    }
    .car360dgree{
      background-image: url('img/360degree.png');
      background-repeat: no-repeat;
      background-size: cover;
      height: 130px;
      width: 100%;
    }

    
    /* container-9 */
    .ourfollwers150, .ourHappyClients{
      padding: 20px;
    }
    .horizontalhr{
      border-left: 1px solid #FFFCFC;
      height: 60px;       
      margin: auto 0px;      
    }
    .bigbtn{
      box-sizing: border-box;
      background-color: black;
      color: white;
      height: 90px;
      width: 290px;
      border-radius: 10px;
    }
    .a150k, .a10k{
        font-size: 20px;
        font-weight: 600;    
      }
    .ourfollwers{
      font-size: 15px;           
      height: 25px;
      width: 92px;
    }
    .happycliets{
      font-size: 15px;
      height: 25px;
      width: 122px;
      text-align: center;      
    }
    .container9smalltext{
      height: 220px;
      width: 85%;
      font-size: 18px;
      font-weight: 600;
    }
    .container9_ourdignity_img{
      display: none;    
    }  

    /* container-10 */
    .container10_rowback{
      background-image: url('img/Vector\ 6.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      height: 500px;
      width: 100%;
      margin: 0 auto;
      display: block;
    }
    .container10yournexttraveltext{
      font-size: 25px;
      font-weight: 700;
      color: white;
      height: 50px;
      width: 80%;
      display: block;
    }
    .container10yourreliabletext{
      font-size: 18px;
      font-weight: 600;
      color: white;
      height: 34px;
      width: 94%;
      display: block;
    }
    .carimg{
      background-image: url('img/mercedes-cropped\ 1.png');
      height: 280px;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      margin: 0px auto;
      display: block;
    }
    .calculatebtn{
      height: 40px;
      width: 140px;
      font-size: 18px;
      display: block;
    }

    /* container-11 */
    .container11rowbackground{
      background-image: url('img/englandcitymap.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      height: 600px;
      width: 100%;
    }
    .container11_ourteam{
      background-image: url('img/ourteam.png');
      background-repeat: no-repeat;
      background-size: contain;      
      height: 200px;
      width: 30%;     
    }
    .jameswalker_img{
      background-image: url('img/Ellipse\ 3.png');
      background-repeat: no-repeat;
      background-size: contain;
      height: 120px;
      width: 125px;
    }
    .samueladasom_img{
      background-image: url('img/Ellipse\ 4.png');
      background-repeat: no-repeat;
      background-size: contain;
      height: 120px;
      width: 125px;
    }
    .jackaldrige_img{
      background-image: url('img/Ellipse\ 5.png');
      background-repeat: no-repeat;
      background-size: contain;
      height: 120px;
      width: 125px;
    }
    .thomas_img{
      background-image: url('img/Ellipse\ 6.png');
      background-repeat: no-repeat;
      background-size: contain;
      height: 120px;
      width: 125px;
    }
    .nametext, .positiontext{
      text-align: center;      
      width: 140px;
      font-size: 18px;
      font-weight: 600;
    }
    
    /* container-12 */
    .smallcar_img{
      background-image: url('img/Mercedes-S-Class-PNG\ 1.png');
      background-repeat: no-repeat;
      background-size: contain;
      height: 100px;
      width: 320px;
    }
    .borderbottomwhite{
      border: 3px dashed #FFFFFF;     
      width: 100%;
      height: 1px;
      position: absolute;      
    }

    /* container-12 */
    .smallcar_img{
      background-image: url('img/Mercedes-S-Class-PNG\ 1.png');
      background-repeat: no-repeat;
      background-size: contain;
      height: 100px;
      width: 320px;
    }
    .borderbottomwhite{
      border: 3px dashed #FFFFFF;     
      width: 100%;
      height: 1px;
      position: absolute;      
    }
    .fotter_our_service_text{
      color: white;
      height: 30px;      
      margin: auto 15px;
      font-size: 17px;
      font-weight: 700;
    }
    .container12fotter_ourservice_list1{
      color: white;
    }
    .fotter_ourservice_text_title,
    .fotter_contacts_text_title,
    .fotter_locatioin_text_title{
      color: white;
      height: 30px;      
      margin: auto 15px;
      font-size: 20px;
      font-weight: 700;
    }
    .footer_Contacts_text{
      color: white;
    }
    .footer_ourservice_text, 
    .fotter_Contacts_text{
      color: white;
      font-size: 16px;
    }
    .fotter_ourservice_setting,
    .fotter_contect_setting,
    .fotter_location_setting{
      height: 170px;
      width: 280px;      
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

      /* navigation */
      .navbar-nav, nav-link{
        font-size: 20px;
      }

      /* container-2 */
      .caricon{        
        display: block;
        background-image: url('img/caricons_88.png');
        background-repeat: no-repeat;
        height: 50px;
        width: 100px;
        background-size: contain;
      }
      .container2carlargeimg{
        display: block;
        background-image: url('img/mustang_title_img.jpg') ;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 500px;
        max-width: 100%;       
      }
      .container2largetext{
        font-size: 65px;
        font-weight: 700;
        height: 310px;
        width:fit-content;
        margin: 0 auto;
      }
      .btnrowsizeing{
        width: 80%;
      }
      .bokingnowbtn{
        display: block;
        font-size: 20px;
        height: 50px;
        width: 145px;
        margin: 0 auto;
      }

     /* container-3 */
    .container3_cardsizing{
      margin: 0 auto;
      height: 150px;
      width: 80%;
    }
    .borderleft{
      border-left: 2px solid white;
    }
    .navtabsetting{
      margin: 0 auto;
      height: 100px;
      width: 80%;
      font-size: 17px;
    }
    .searchingbtn{
        font-size: 17px;
        height: 40px;
        width: 100px;      
        margin: 0 auto;
    }

    /*  container-4 */
    .Container4rowback{
      background-image: url('img/englandcitymap.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      height: 500px;
      width: 100%;
    }
    .container4rectangletext{
      background-image: url('img/ourservice.png');
      background-repeat: no-repeat;
      background-size: contain;
      height: 250px;
      width: 100%;
      display: block;
    }
    .card{
      height: 250px;
      width: 30%;
      margin: 0 auto;
    }
     /* container-5 */
     .container5textheightwidth{
      padding: 20px;
    }
    .container5findoutlargtext{
      font-size: 40px;
      font-weight: 600;
      width: 91%;
    }
    .container5findousmalltext{
      height: 200px;
      width: 80%;
      line-height: 1.2;
      font-size: 17px;
    }
    .aboutusimg{
      display: none;
    }

    /* Icons */
    .clockicon{
      background-image: url('img/Combined-Shape.png');
      background-repeat: no-repeat;
      background-size: contain;
      height: 50px;
      width: 120px;
      
    }
    .smallcaricon{
      background-image: url('img/car-1299198_960_720\ 1.png');
      background-repeat: no-repeat;
      background-size: cover;
      height: 50px;
      width: 120px;
    }    
    .businessicon{
      background-image: url('img/Vector_icon.png');
      background-repeat: no-repeat;
      background-size: contain;
      height: 50px;
      width: 120px;
    }
    .icontext{
      color: white;
      height: 50px;
      width: 120px;
    }
    .mercedescar1{
      background-image: url('img/mercedes_PNG1872\ 1.png');
      background-repeat: no-repeat;
      background-size: contain;
      height: 220px;
      width: 400px;
      display: block;
    }
    
    /* container-7 Mercedesbenz_Sclasssmall_text and large_text */
    .mercedesbenzSclasssmalltext{
      font-size: 25px;
      font-weight: 600;
      height: 40px;
    }
    .sclasslargetext{
      font-size: 35px;      
      font-weight: 700;
      height: 50px;
    }
    
    /* container-8 ourfleetimg, Car360dgree_img*/
    .container8ourfleetimg{
      background-image: url('img/ourfleet.png');
      background-repeat: no-repeat;
      background-size: contain;
      height: 330px;
      width: 100%;
      display: block;
    }
    .car360dgree{
      background-image: url('img/360degree.png');
      background-repeat: no-repeat;
      background-size: contain;
      height: 320px;
      width: 100%;
    } 

     /* container-9 */
     .ourfollwers150, .ourHappyClients{
      padding: 20px;
    }
    .horizontalhr{
      border-left: 1px solid #FFFCFC;
      height: 60px;       
      margin: auto 0px;      
    }
    .bigbtn{
      box-sizing: border-box;
      background-color: black;
      color: white;
      height: 120px;
      width: 330px;
      border-radius: 10px;
    }
    .a150k, .a10k{
        font-size: 35px;
        font-weight: 600;    
      }
    .ourfollwers{
      font-size: 18px;           
      height: 30px;
      width: 110px;
    }
    .happycliets{      
      font-size: 18px;
      height: 30px;
      width: 150px;
      text-align: center;      
    }
    .container9smalltext{
      height: 300px;
      width: 90%;
      font-size: 20px;
      line-height: 1.3;
      font-weight: 600;
    }
    .container9_ourdignity_img{
      background-image: url('img/our_dignity.png');
      background-repeat: no-repeat;
      background-size: cover;
      height: 320px;
      width: 400px;
      display: block;      
    }

    /* container-10 */
    .container10_rowback{
      background-image: url('img/Vector\ 6.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      height: 680px;
      width: 100%;
      display: block;
    }
    .container10yournexttraveltext{
      font-size: 50px;
      font-weight: 700;
      color: white;
      height: 130px;
      line-height: 1.2;
      width: 72%;          
      display: block;
    }
    .container10yourreliabletext{      
      font-size: 20px;
      font-weight: 600;
      color: white;
      height: 34px;
      width: 78%;
      margin:  10px auto;
      display: block;
    }
    .carimg{
      background-image: url('img/mercedes-cropped\ 1.png');
      height: 450px;
      width: 100%;      
      background-repeat: no-repeat;
      background-size: contain;
      display: block;
    }
    .calculatebtn{
      height: 50px;
      width: 150px;
      font-size: 20px;        
      display: block;
    }     

     /* container-11 */
     .container11rowbackground{
      background-image: url('img/englandcitymap.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      height: 700px;
      width: 100%;
    }
    .container11_ourteam{
      background-image: url('img/ourteam.png');
      background-repeat: no-repeat;
      background-size: contain;      
      height: 300px;
      width: 35%;
    }
    .jameswalker_img{
      background-image: url('img/Ellipse\ 3.png');
      background-repeat: no-repeat;
      background-size: contain;
      height: 150px;
      width: 200px;
    }
    .samueladasom_img{
      background-image: url('img/Ellipse\ 4.png');
      background-repeat: no-repeat;
      background-size: contain;
      height: 150px;
      width: 200px;
    }
    .jackaldrige_img{
      background-image: url('img/Ellipse\ 5.png');
      background-repeat: no-repeat;
      background-size: contain;
      height: 150px;
      width: 200px;
    }
    .thomas_img{
      background-image: url('img/Ellipse\ 6.png');
      background-repeat: no-repeat;
      background-size: contain;
      height: 150px;
      width: 200px;
    }
    .nametext, .positiontext{
      text-align: center;      
      width: 150px;
      font-size: 18px;
      font-weight: 600;
    }   

    /* container-12 */
    .smallcar_img{
      background-image: url('img/Mercedes-S-Class-PNG\ 1.png');
      background-repeat: no-repeat;
      background-size: contain;
      height: 100px;
      width: 320px;
    }
    .borderbottomwhite{
      border: 3px dashed #FFFFFF;     
      width: 100%;
      height: 1px;
      position: absolute;      
    }

     /* container-12 */
     .smallcar_img{
      background-image: url('img/Mercedes-S-Class-PNG\ 1.png');
      background-repeat: no-repeat;
      background-size: contain;
      height: 100px;
      width: 320px;
    }
    .borderbottomwhite{
      border: 3px dashed #FFFFFF;     
      width: 100%;
      height: 1px;
      position: absolute;      
    }
    .fotter_our_service_text{
      color: white;
      height: 30px;      
      margin: auto 15px;
      font-size: 17px;
      font-weight: 700;
    }
    .container12fotter_ourservice_list1{
      color: white;
    }
    .fotter_ourservice_text_title,
    .fotter_contacts_text_title,
    .fotter_locatioin_text_title{
      color: white;
      height: 30px;      
      margin: auto 15px;
      font-size: 20px;
      font-weight: 700;
    }
    .footer_Contacts_text{
      color: white;
    }
    .footer_ourservice_text, 
    .fotter_Contacts_text{
      color: white;
      font-size: 16px;
    }
    .fotter_ourservice_setting,
    .fotter_contect_setting,
    .fotter_location_setting{
        height: 200px;
        width: 260px; 
      }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px){

     /* navigation */
    .navbar-nav, nav-link{
        font-size: 20px;
    }

    /* container-2 */
    .caricon{
      display: block;
      background-image: url('img/caricons_88.png');
      background-repeat: no-repeat;
      height: 50px;
      width: 100px;
      background-size: contain;
    }     
    .container2carlargeimg{
        display: block;        
        background-image: url('img/mustang_title_img.jpg') ;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 500px;
        max-width: 100%;       
    }
    .container2largetext{
        font-size: 80px;
        font-weight: 700;
        height: fit-content;
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
    }
    .btnrowsizeing{
        width: 80%;
    }
    .bokingnowbtn{
        font-size: 20px;
        height: 50px;
        width: 150px;
    }

    /* container-3  */
    .container3_cardsizing{
      margin: 0 auto;
      height: 150px;
      width: 80%;
    }
    .borderleft{
      border-left: 2px solid white;
    }
    .navtabsetting{
      margin: 0 auto;
      height: 110px;
      width: 80%;
      font-size: 18px;
    }
    .searchingbtn{
        font-size: 17px;
        height: 40px;
        width: 100px;      
        margin: 0 auto;
    }

    /*  container-4 */
    .Container4rowback{
      background-image: url('img/englandcitymap.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      height: 550px;
      width: 100%;
    }
    .container4rectangletext{
      background-image: url('img/ourservice.png');
      background-repeat: no-repeat;
      background-size: contain;
      height: 300px;
      width: 100%;
      display: block;
    }
    .card{
      height: 250px;
      width: 30%;
      margin: 0 auto;
    }

    /* container-5 */
    .container5textheightwidth{
      padding: 20px;
    }
    .container5findoutlargtext{
      font-size: 40px;
      font-weight: 600;
      width: 91%;
    }
    .container5findousmalltext{
      height: 200px;
      width: 80%;
      line-height: 1.2;
      font-size: 17px;
    }
    .aboutusimg{
      background-image: url('img/about_text.png');
      background-repeat: no-repeat;
      background-size: contain;
      height: 194px;
      width: 100%;
      display: block;
    }

    /* container-6 Icons, images */
    .clockicon{
      background-image: url('img/Combined-Shape.png');
      background-repeat: no-repeat;
      background-size: contain;
      height: 50px;
      width: 120px;      
    }
    .smallcaricon{
      background-image: url('img/car-1299198_960_720\ 1.png');
      background-repeat: no-repeat;
      background-size: cover;
      height: 50px;
      width: 120px;
    }    
    .businessicon{
      background-image: url('img/Vector_icon.png');
      background-repeat: no-repeat;
      background-size: contain;
      height: 50px;
      width: 120px;
    }
    .icontext{
      color: white;
      height: 50px;
      width: 120px;
    }
    .mercedescarimg1{
      background-image: url('img/mercedes_PNG1872\ 1.png');
      background-repeat: no-repeat;
      background-size: contain;
      height: 220px;
      width: 400px;
      display: block;
    }

    /* container-7 Mercedesbenz_Sclasssmall_text and large_text */
    .mercedesbenzSclasssmalltext{
      font-size: 25px;
      font-weight: 600;
      height: 40px;
    }
    .sclasslargetext{
      font-size: 35px;      
      font-weight: 700;
      height: 50px;
    }

    /* container-8 ourfleetimg, Car360dgree_img*/
    .container8ourfleetimg{
      background-image: url('img/ourfleet.png');
      background-repeat: no-repeat;
      background-size: contain;
      height: 330px;
      width: 100%;
      display: block;
    }
    .car360dgree{
      background-image: url('img/360degree.png');
      background-repeat: no-repeat;
      background-size: cover;
      height: 320px;
      width: 100%;
    }

    /* container-9 */
    .ourfollwers150, .ourHappyClients{
      padding: 20px;
    }
    .horizontalhr{
      border-left: 1px solid #FFFCFC;
      height: 60px;       
      margin: auto 0px;      
    }
    .bigbtn{
      box-sizing: border-box;
      background-color: black;
      color: white;
      height: 120px;
      width: 330px;
      border-radius: 10px;
    }
    .a150k, .a10k{
        font-size: 35px;
        font-weight: 600;    
      }
    .ourfollwers{
      font-size: 18px;           
      height: 30px;
      width: 110px;
    }
    .happycliets{      
      font-size: 18px;
      height: 30px;
      width: 150px;
      text-align: center;      
    }
    .container9smalltext{
      height: 220px;
      width: 90%;
      font-size: 20px;
      line-height: 1.3;
      font-weight: 600;
    }
    .container9_ourdignity_img{
      background-image: url('img/our_dignity.png');
      background-repeat: no-repeat;
      background-size: cover;
      height: 320px;
      width: 400px;      
      display: block;      
    }

    /* container-10 */
    .container10_rowback{
      background-image: url('img/Vector\ 6.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      height: 730px;
      width: 100%;
      display: block;
    }
    .container10yournexttraveltext{
      font-size: 50px;
      font-weight: 700;
      color: white;
      height: 110px;
      width: 60%;
      display: block;   
    }
    .container10yourreliablet{
      font-size: 20px;      
      font-weight: 600;
      color: white;
      height: 25px;
      width: 57%;
      margin:  0px auto;
      display: block;
    }
    .carimg{
      background-image: url('img/mercedes-cropped\ 1.png');
      height: 450px;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      display: block;
    }
    .calculatebtn{
      height: 50px;
      width: 150px;
      font-size: 20px;  
      display: block;
      margin-bottom: 10px;
    }

    /* container-11 */
    .container11rowbackground{
      background-image: url('img/englandcitymap.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      height: 700px;
      width: 100%;
    }
    .container11_ourteam{
      background-image: url('img/ourteam.png');
      background-repeat: no-repeat;
      background-size: contain;      
      height: 300px;
      width: 35%;  
    }
    .jameswalker_img{
      background-image: url('img/Ellipse\ 3.png');
      background-repeat: no-repeat;
      background-size: contain;
      height: 150px;
      width: 200px;
    }
    .samueladasom_img{
      background-image: url('img/Ellipse\ 4.png');
      background-repeat: no-repeat;
      background-size: contain;
      height: 150px;
      width: 200px;
    }
    .jackaldrige_img{
      background-image: url('img/Ellipse\ 5.png');
      background-repeat: no-repeat;
      background-size: contain;
      height: 150px;
      width: 200px;
    }
    .thomas_img{
      background-image: url('img/Ellipse\ 6.png');
      background-repeat: no-repeat;
      background-size: contain;
      height: 150px;
      width: 200px;
    }
    .nametext, .positiontext{
      text-align: center;      
      width: 150px;
      font-size: 18px;
      font-weight: 600;
    }

    /* container-12 */
    .smallcar_img{
      background-image: url('img/Mercedes-S-Class-PNG\ 1.png');
      background-repeat: no-repeat;
      background-size: contain;
      height: 100px;
      width: 320px;
    }    
    .borderbottomwhite{
      border: 3px dashed #FFFFFF;     
      background-color: black;
      width: 100%;
      height: 1px;
      position: absolute;      
    }
    .fotter_our_service_text{
      color: white;
      height: 30px;      
      margin: auto 15px;
      font-size: 17px;
      font-weight: 700;
    }
    .container12fotter_ourservice_list1{
      color: white;
    }

    .fotter_ourservice_text_title,
    .fotter_contacts_text_title,
    .fotter_locatioin_text_title{
      color: white;
      height: 30px;      
      margin: auto 15px;
      font-size: 20px;
      font-weight: 700;
    }
    .footer_Contacts_text{
      color: white;
    }
    .footer_ourservice_text, 
    .fotter_Contacts_text{
      color: white;
      font-size: 18px;
    }
    .fotter_ourservice_setting,
    .fotter_contect_setting,
    .fotter_location_setting{
        height: 210px;
        width: 300px; 
      }
  

}








